.checkout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .orders-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;

    .orders-container-row {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 0.5rem;
      row-gap: 1rem;
      justify-items: center;
      align-items: center;
      border-bottom: 1px solid darkgrey;

      span {
        padding: 0rem 1rem;

        .checkout-product-image {
          width: 15vh;
        }
      }
    }

    .orders-container-empty-cart-message {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
